.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    /*color: white !important;*/
    border: 1px solid #0063b9!important;
   
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #0063b9 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}