/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */



#sidebar {
    width: 425px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #0080ff;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -425px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0063b9;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #0063b9;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1rem;
    display: block;
}

#sidebar ul li a:hover {
    color: #0063b9;
    background: #fff;

}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #0063b9;
    border-bottom: 1px solid white;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #0063b9;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #0063b9;
}

a.article,
a.article:hover {
    background: #0063b9 !important;
    color: #fff !important;
}




/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        width: 325px;
        margin-left: 0px;
    }
    #sidebar.active {
        margin-left: -325px;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100%-325px)!important;
    }
    #sidebarCollapse span {
        display: none;
    }
}


@media (max-width: 425px) {
    #sidebar {
        width: 83%;
        margin-left: 0px;
    }
    #sidebar.active {
        margin-left: -100%;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: 0px;
    }
    #sidebarCollapse span {
        display: none;
    }
}