<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Cupo Explora Unesco</h3>
    </div>

    <ul class="list-unstyled components">

        <li class="active">
            <a routerLink="/mapa" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> &nbsp;<i class="fas fa-2x fa-map-marked-alt"></i> Mapa</a>

        </li>
        <hr />
        <li class="active">
            <a routerLink="/about">Sobre Cupo Explora Unesco</a>
        </li>

        <hr />
        <li class="active">
            <a href="https://drive.google.com/uc?id=15w8JAd5dd85MUstVvT7B9UJQ-vm2sukF&export=download&authuser=0">Descargar consulta <i class="fas fa-download"></i></a>
        </li>
    </ul>


</nav>