<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <i class="fas fa-question-circle" style="margin-right: 10px;"></i>           ¿Quién me selecciona?
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body text-justify">
            Cada universidad define un proceso de admisión y cada una se contactará contigo para que puedas rendir las pruebas o entrevistas, si fuera necesario.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fas fa-question-circle" style="margin-right: 10px;"></i> Si estoy habilitado/a y no asisto a las pruebas o entrevistas por parte de las universidades que lo requieran
            ¿Pierdo el cupo?            
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body text-justify">
            
         Sí, para ser seleccionado(a) debes participar en todas las instancias evaluativas.

       </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <i class="fas fa-question-circle" style="margin-right: 10px;"></i> Si la universidad que me selecciona me pide dar pruebas o entrevistas fuera
            de mi región ¿me financian los pasajes?    
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            No, los gastos de movilización (de ser necesario), comida u otros, deben ser financiados por cada postulante
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <i class="fas fa-question-circle" style="margin-right: 10px;"></i> ¿Dónde se darán a conocer los resultados?
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <ul>
                <li> Los resultados de la habilitación de trayectoria científica escolar se publicarán en el sitio <a href="http://www.explora.cl"><font color="blue"><i class="fas fa-link" style="margin-left: 5px;"></i> www.explora.cl.</font></a>
                </li>
    
                <li>  Los resultados de asignación de cupos por universidad, serán definidos por cada una de las instituciones participantes.</li>
              
            </ul>
           
          
            
           </div>
        </div>
      </div>
  </div>