<hr/>

<div class="col-auto" id="filtro">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm col-form-label"> <strong>Región</strong> </label>
                <div class="col-md-6">
                    <select [(ngModel)]="cupo.cod_region" name="cod_region" (change)="onChange()" class="form-control">
                        <option [ngValue]="null"> -- Regiones de Chile -- </option>    
                        <option *ngFor="let predios of regiones" value="{{ predios.cod_region}}" >{{predios.nombre}} </option>
                                
                              
                            
                         
                          </select></div>
            </div>
        </div>
        <div class="col-md-6">
            <form #forma="ngForm" novalidate="" (keydown.enter)="$event.preventDefault()">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">

                        <button class="btn btn-outline-success" (click)="busqueda()">
                        <i class="fas fa-certificate" style="color:green "></i>
                        
                    </button>

                    </div>


                    <input type="text" [(ngModel)]="cupo.carrera" (keyup)="onkeyup()" #carrera name="carrera" class="form-control" placeholder="//Ingrese carrera de interés o oprima el botón//" required>
                    <div class="input-group-append">

                        <button [disabled]="!forma.valid" class="btn btn-outline-success" (click)="onChangeSearch()">
                        <i class="fas fa-search" style="color:green "></i>
                       
                        </button>

                    </div>


                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-sm col-form-label"> <strong>Universidad</strong> </label>
                <div class="col-md-9">
                    <select [(ngModel)]="cupo.universidad" name="universidad" (change)="onChange2()" class="form-control">
                        <option [ngValue]="null"> -- Universidades -- </option>    
                        <option *ngFor="let predios of universidades" value="{{ predios.nombre}}" >{{predios.nombre}} </option>
                                
                              

                </select>
                </div>
            </div>
        </div>
    </div>
    <hr/>


</div>

<div class="map" id="map">
</div>