<div class="container-fluid">
    <hr/>
    <h1>CUPO EXPLORA UNESCO</h1>
    <hr/>
    <div class="container" align="justify">
        Cupo Explora-UNESCO es una vía de admisión especial a la Educación Superior a través de la cual diferentes instituciones ofrecen vacantes para que jóvenes con talento científico y con una destacada trayectoria en el área de la ciencia, la tecnología y
        la innovación, puedan estudiar cualquier carrera, independiente del puntaje de corte de la carrera escogida. Esta iniciativa nace a partir del trabajo conjunto entre la Catedra UNESCO, constituida a través de la Universidad de Santiago y el Programa
        Explora, y busca garantizar el acceso inclusivo a la Educación Superior, reconociendo el mérito de jóvenes con talento y la vocación científica durante su etapa escolar. Cupo Explora-UNESCO ofrece la posibilidad de acceder a una admisión especial,
        pero no compromete ningún tipo de financiamiento o beca.

    </div>
    <hr/>
    <h3>Pueden participar:</h3>
    <hr/>
    <div class="container" align="justify">
        <strong>Requisitos para el proceso 2020-2021:</strong>
        <br/>
        <ul>
            <li><strong>Necesariamente haber participado de manera voluntaria al menos 2 años* en actividad de Explora investigación científica escolar y congresos</strong>. Adicionalmente, se considera haber participado en actividades de otras instituciones
                o programas.</li>

            <li><strong>Haber egresado los últimos tres años</strong>* (2018, 2019 o 2020) de enseñanza media, de establecimientos educacionales de cualquier dependencia y modalidad.</li>
            <li><strong>Haber rendido la Prueba de Selección Universitaria</strong>* (PSU) en los años 2018, 2019 y 2020. Para las y los egresados 2020 al momento de la postulación deben presentar la constancia de inscripción de la Prueba de Transición.</li>
            <li><strong>Presentar carta de manifestación de interés</strong>. El escrito debe responder a lo siguiente:</li>
            <ul>

                <li><i class="fas fa-check"></i> Explique los aprendizajes que le han dejado las <strong>dos actividades más significativas</strong> de ciencias, tecnologías, conocimiento o innovación que ha realizado.</li>

                <li><i class="fas fa-check"></i> ¿Cuál es su preferencia de carrera y cómo su elección la relaciona con su trayectoria científica escolar?</li>

                <li><i class="fas fa-check"></i>  ¿Por qué se considera un/a buen/a candidato/a para acceder al cupo Explora-Unesco? La carta no presenta extensión mínima o máxima, debe escribirse en computador y estar firmada. *</li>
            </ul>
        </ul>

    </div>
    <hr/>
    <div class="container" align="justify">
        <strong>Inicio de las postulaciones: 28 de septiembre. </strong>Hasta el 30 de octubre podrás realizar tus consultas en <strong><a href="mailto:explora@minciencia.gob.cl">explora@minciencia.gob.cl</a></strong>
    </div>

</div>