
<div class="container-md">
    <div class="card border-primary" style="background-color: white!important">
        <div class="card-header" style="background-color: white"><h1><font color="#007bff">CUPO EXPLORA UNESCO</font></h1></div>
        <div class="card-body">
         
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/Kdy_ou7m6ZU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        </div>
      </div>
    <div class="card border-primary" style="background-color: white!important;margin-top: 20px;">
        <div class="card-header" style="background-color: white"><h1><font color="#007bff">CUPO EXPLORA UNESCO</font></h1></div>
        <div class="card-body">
         
          <p align="justify">
            Cupo Explora UNESCO es una vía de admisión especial a la Educación Superior a través de la cual diferentes instituciones ofrecen vacantes para que jóvenes con trayectoria científica escolar, puedan estudiar cualquier carrera de las que se encuentren en convenio con Cupo Explora UNESCO, independiente del puntaje de corte de la carrera escogida.
<br/><br/>
            Esta iniciativa nace a partir del trabajo conjunto entre la Cátedra UNESCO, constituida a través de la Universidad de Santiago y el Programa Explora, y busca garantizar el acceso inclusivo a la Educación Superior, reconociendo la trayectoria científica escolar en iniciativas del Programa Explora de estudiantes egresados de enseñanza media entre los años 2019-2021, ofreciéndoles un cupo de admisión especial a la Educación Superior en distintas universidades. Los y las estudiantes que postulan a este beneficio deben haber participado al menos dos años en Investigación e Innovación Escolar y/o Congresos, ambos del Programa Explora.
            <br/>    <br/>
            Cupo Explora UNESCO ofrece la posibilidad de acceder a una admisión especial, pero no compromete ningún tipo de financiamiento o beca.
        </p>
        
        </div>
      </div>
      
        <div class="card border-primary" style="margin-top: 20px;">
            <div class="card-header" style="background-color: white">  <h3><font color="#007bff">Pueden participar:</font></h3></div>
            <div class="card-body">
                <div align="justify">
                    <strong>Requisitos para el proceso 2021-2022:</strong>
                    <br/>
                    <ul>
                        <li><strong>Haber participado al menos 2 años en actividades del programa Explora de Investigación e Innovación Escolar y/o Congresos Explora.</strong></li>
                        <li><strong>Haber egresado el 2019, 2020 o 2021 de enseñanza media</strong>, de establecimientos educacionales de cualquier dependencia y modalidad.</li>
                        <li><strong>Haber rendido la Prueba de Selección Universitaria</strong> en los años 2019 (PSU), 2020 y 2021 (PDT). Para las y los egresados 2021 al momento de la postulación deben presentar la constancia de inscripción de la Prueba de Transición.</li>
                        <li><i class="fas fa-check"></i> Concetracion de notas y/o certificado de estudio.</li>
                   
                    </ul>
                  
                </div>
            </div>
        </div>
        <div
         style="margin-top: 20px;">
        <app-preguntas></app-preguntas>
    </div>
    <div class="card border-primary" style="margin-top: 20px;">
        <div class="card-header" style="background-color: white">  <h3><font color="#007bff"> <i class="fas fa-calendar-week" style="margin-right: 10px;"></i> Fecha:</font></h3></div>
        <div class="card-body">
            
           
                <div class="container" align="justify" style="font-size:18px;">
                    <strong> Inicio de las postulaciones 27 de septiembre hasta el viernes 05 de noviembre hasta las 17:00 hrs GMT-3</strong>. Podrás realizar tus consultas desde el <strong>lunes 27 de septiembre y el viernes 29 de octubre hasta las 17:00 hrs. GMT-3</strong> al correo <a href="mailto:explora@minciencia.gob.cl"><font color="blue">explora@minciencia.gob.cl.</font></a> 
                </div>
               
            </div>
        </div>
   
</div>